.env
.env.*
.idea

# zip -r ob-tuner.zip . -x "*.git*" -x "*.github*" -x "*.pytest_cache*" -x "*.venv*" -x "*.vscode*" -x "*.idea*" -x "*.DS_Store*" -x "*.gitignore*" -x "*.gitattributes*" -x "*.pre-commit-config.yaml*" -x "*.pylintrc*" -x "*.flake8*" -x "*.mypy*" -x "*aws-sam*" -x -x "*tests*" -x "*ob-tuner.zip*" -x "*src*" -x "*hooks*" -x "*.run*" -x "*.elasticbeanstalk*" -x "*.ebextensions*" -x "packaged-*.yaml"


#tests
.aws-sam
.ebextensions*
.run
hooks
.gitignore
.pre-commit-config.yaml
.pre-commit-hooks.yml
assume-role.sh
COMMANDS.md
Dockerfile
manage_ci_secrets.py
resources.yaml

*.git*
*.github*
*.pytest_cache*
*.venv*
*.vscode*
*.idea*
*.DS_Store*
*.gitignore*
*.gitattributes*
*.pre-commit-config.yaml*
*.pylintrc*
*.flake8*
*.mypy*
*aws-sam*
*tests*
*ob-tuner.zip*
*src*
*hooks*
*.run*
*.elasticbeanstalk*
*.ebextensions*
*packaged-*.yaml
*Procfile*
poetry.lock
