# General information
AWS_PROFILE=personal
PROJECT=openbrain
REPOSITORYNAME=openbrain
GITHUBORG=svange
DISABLE_TUNER_API_MODE=1
# the following key isused for testing and matches the dev_openai_api_key
OPENAI_API_KEY=FILL_ME_IN

# Keys for updating secret stores
DEV_OPENAI_KEY=FILL_ME_IN
DEV_PROMPTLAYER_KEY=FILL_ME_IN
DEV_HUGGINGFACE_KEY=FILL_ME_IN
DEV_PINECONE_KEY=FILL_ME_IN
DEV_WEVIATE_KEY=FILL_ME_IN
DEV_MILVUS_KEY=FILL_ME_IN
DEV_GOOGLE_KEY=FILL_ME_IN
DEV_META_KEY=FILL_ME_IN
DEV_ANTHROPIC_KEY=FILL_ME_IN
PROD_OPENAI_KEY=FILL_ME_IN
PROD_PROMPTLAYER_KEY=FILL_ME_IN
PROD_HUGGINGFACE_KEY=FILL_ME_IN
PROD_PINECONE_KEY=FILL_ME_IN
PROD_WEVIATE_KEY=FILL_ME_IN
PROD_MILVUS_KEY=FILL_ME_IN
PROD_GOOGLE_KEY=FILL_ME_IN
PROD_META_KEY=FILL_ME_IN
PROD_ANTHROPIC_KEY=FILL_ME_IN

# Static stack names
INFRA_STACK_NAME=ai-infra
SECRET_STORE_FRIENDLY_NAME=DevAiSecrets
COMMON_ACCESS_POLICY_FRIENDLY_NAME=DevCommonAccessPolicy
SESSION_TABLE_FRIENDLY_NAME=DevSessionTable
AGENT_CONFIG_TABLE_FRIENDLY_NAME=DevAgentConfigTable
LEAD_TABLE_FRIENDLY_NAME=DevLeadTable
INFRASTRUCTURE_TOPIC_FRIENDLY_NAME=InfrastructureTopic
BUSINESS_TOPIC_FRIENDLY_NAME=BusinessTopic
EVENTBUS_FRIENDLY_NAME=DevEventBus
